{% extends "threecolbase.html" %}

{% block title %}City Information for {{ city_info.0.1 }} {% endblock %}

{% block content %}
<div id="cityname"><h1><center>{{ name }}</center></h1></div>

<div id="contact_info">
<table class="info-table-a">
{% for x in groups.contact_info %}
<tr><td width="300">{{x.2}}</td><td>{{ x.1 }} </td></tr>
{% endfor %}
</table>
</div>

<div id="plan_info">
<table class="info-table-a">
{% for x in groups.plan_info %}
<tr><td width="300">{{x.2}}</td><td>{{ x.1 }} </td></tr>
{% endfor %}
</table>
</div>

<div id="action_info">
<table class="info-table-a">
{% for x in groups.action_info %}
<tr><td width="300">{{x.2}}</td><td>{{ x.1 }} </td></tr>
{% endfor %}
</table>
</div>
{% endblock %}

{% block rightbar %}
<div id="rightbar" class="sidebar">
<center><h2>Show Cities With</h2></center>
<dl id="withlist">
{% for k in key %}
{% if forloop.first %}  <!--  don't include "City" -->
{% else %}
<dt><a href="/with/{{ k.0 }}">{{ k.2 }}</dt>
{% endif %}
{% endfor %}
</dl>
</div>
{% endblock %}

{% block leftbar %}
<div id="leftbar" class="sidebar">
<center><a href="/"><h1>Home</h1></a></center>
<ul>
    {% for c in cityList %}
        <li><a href="/city/{{c}}">{{ c }}</a></li>
    {% endfor %}
</ul>
</div>
{% if announcements %}
<fieldset id=announcementlist>
<legend>Announcements</legend>
<dl>
{% for a in announcements %}
<dt>{{ a }}</dt>
{% endfor %}
</dl>
</fieldset>
{% endif %}
{% if externals %}
<fieldset id=linklist>
<legend>Links</legend>
<dl>
{% for e in externals %}
<dt>{{ e }}</dt>
{% endfor %}
</dl>
</fieldset>
{% endif %}
{% endblock %}
