{% extends "base.html" %}

{% block title %}City Information Overview {% endblock %}

{% block content %}
<table id="summary_table">
    <tr>
        {% for f in fields %}
            <th>{{ f }}</th>
        {% endfor %}
    </tr>
        {% for city in cList %}
        <tr>
            {% for v in city %}
                <td>{{ v }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
</table>
{% endblock %}

{% block leftbar %}
{% if announcements %}
<fieldset id=announcementlist>
<legend>Announcements</legend>
<ul>
{% for a in announcements %}
<li>{{ a }}</li>
{% endfor %}
</ul>
</fieldset>
{% endif %}
{% if externals %}
<fieldset id=linklist>
<legend>Links</legend>
<ul>
{% for e in externals %}
<li>{{ e }}</li>
{% endfor %}
</ul>
</fieldset>
{% endif %}
{% endblock %}