{% extends "base.html" %}

{% block title %}City Information Overview {% endblock %}

{% block content %}
<div id="tableContainer" class="tableContainer">
<table id="summary_table" class="scrollTable">
    <thead class="fixedheader">
    <tr>
        {% for f in fields %}
            <td>{{ f }}</td>
        {% endfor %}
    </tr></thead>
    <tbody class="scrollContent">
        {% for city in cList %}
        <tr>
            {% for v in city %}
                <td title="{{ v.txt }}">{{ v.sym }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table></div>
{% endblock %}

{% block leftbar %}
{% if announcements %}
<fieldset id=announcementlist>
<legend>Announcements</legend>
<dl>
{% for a in announcements %}
<dt>{{ a }}</dt>
{% endfor %}
</dl>
</fieldset>
{% endif %}
{% if externals %}
<fieldset id=linklist>
<legend>Links</legend>
<dl>
{% for e in externals %}
<dt>{{ e }}</dt>
{% endfor %}
</dl>
</fieldset>
{% endif %}
{% endblock %}
{% block rightbar %}
<center><h2>Key</h2></center>
<dl id="key">
{% for k in key %}
{% if k.1 %}
<dt>{{ k.1 }}</dt><dd>{{ k.2 }}</dd>
{% endif %}
{% endfor %}
</dl>
{% endblock %}